@page
@model eShopDashboard.Pages.Reports.TimeSeriesModel
@{
    ViewData["Title"] = "Risk Series Forecast";
}

@if (Program.GetSeedingProgress() < 100)
{
    @await Html.PartialAsync("_Seeding.cshtml")
}
<div style="width:100%">
    <div class="row">
        <div class="col-12 bg-highlight py-3 pl-md-4" style="color: white; font-size: 17pt; line-height: 1.25">
            @ViewData["Title"]
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <button id="refreshButton" type="button" class="btn btn-primary float-right" data-toggle="button" aria-pressed="false" autocomplete="off" style="margin: 5px;">
            Real-Time Live Data
        </button>
    </div>
</div>

<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Risk - Sales Pipeline - Forecast (Next 20 days)
                </button>
            </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <div class="pl-md-4" style="font-size: 10pt">
                            <span id="labelItem" class="font-weight-bold"></span>Probability that sales will decrease by 10%
                        </div>
                        <div class="w-100 border-bottom-highlight"></div>
                        <div id="risk_details">
                            <div id="risk_lineChart_1" class="responsive-plot">
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="pl-md-4" style="font-size: 10pt">
                            <span id="labelItem" class="font-weight-bold"></span>Actual Sales
                        </div>
                        <div class="w-100 border-bottom-highlight"></div>
                        <div id="money_base">
                            <div id="base_lineChart_1" class="responsive-plot">
                            </div>
                        </div>

                    </div>

                    <div class="col-4">
                        <div class="pl-md-4" style="font-size: 10pt">
                            <span id="labelItem" class="font-weight-bold"></span>Sales Impact
                        </div>
                        <div class="w-100 border-bottom-highlight"></div>
                        <div id="impact">
                            <div id="impact_lineChart_1" class="responsive-plot">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Risk - Employee Turnover - Forecast (Next 20 days)
                </button>
            </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                <div class="row">

                    <div class="col-4">
                        <div class="pl-md-4" style="font-size: 10pt">
                            <span id="labelItem" class="font-weight-bold"></span>Probability that employee turnover will be > 15%
                        </div>
                        <div class="w-100 border-bottom-highlight"></div>

                        <div id="risk_details_2">
                            <div id="risk_lineChart_2" class="responsive-plot">
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="pl-md-4" style="font-size: 10pt">
                            <span id="labelItem" class="font-weight-bold"></span>Onboarding Costs
                        </div>
                        <div class="w-100 border-bottom-highlight"></div>

                        <div id="money_base_2">
                            <div id="base_lineChart_2" class="responsive-plot">
                            </div>
                        </div>

                    </div>

                    <div class="col-4">
                        <div class="pl-md-4" style="font-size: 10pt">
                            <span id="labelItem" class="font-weight-bold"></span>Financial Impact of Onboarding
                        </div>
                        <div class="w-100 border-bottom-highlight"></div>

                        <div id="impact_2">
                            <div id="impact_lineChart_2" class="responsive-plot">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Financial Aggregate - Forecast (Next 20 days)
                </button>
            </h2>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <div id="inpact_entity_main">
                    <div class="pl-md-4" style="font-size: 12pt">
                        <span id="labelItem" class="font-weight-bold"></span>Financial Impact
                    </div>
                    <div class="w-100 border-bottom-highlight"></div>
                    <div id="impact_entity_lineChart_1" class="responsive-plot" style="height: 355px;">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    <script src="~/lib/js/typeahead.bundle.js"></script>
    <script src="~/lib/js/plotly-basic.min.js"></script>
    <script type="text/javascript">
        $(function () {
            onLoadProductForecasting();
            $('#refreshButton').on('click', handleRefresh);

        });
    </script>
}


