@page
@model eShopDashboard.Pages.Reports.TimeSeriesModel
@{
    ViewData["Title"] = "Risk Series Forecast";
}

@if (Program.GetSeedingProgress() < 100)
{
    @await Html.PartialAsync("_Seeding.cshtml")
}
<div style="width:100%">
    <div class="row">
        <div class="col-12 bg-highlight py-3 pl-md-4" style="color: white; font-size: 17pt; line-height: 1.25">
            @ViewData["Title"]
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <button id="refreshButton" type="button" class="btn btn-primary float-right" data-toggle="button" aria-pressed="false" autocomplete="off" style="margin: 5px;">
            Auto-Refresh
        </button>
    </div>
</div>



<div>
    <div style="width:100%">

        <div id="inpact_entity_main">
            <div class="pl-md-4" style="font-size: 12pt">
                <span id="labelItem" class="font-weight-bold"></span> - Sales Impact (Forecast Next 20 days)
            </div>
            <div class="w-100 border-bottom-highlight"></div>
            <div id="impact_entity_lineChart_1" class="responsive-plot" style="height: 355px;">
            </div>
        </div>
    </div>

</div>

<div id="d_risk1" style="padding:0 0 0 0">
    <div class="pl-md-4" style="font-size: 12pt;margin-top:25px">
        <div class="w-100 border-bottom-highlight"></div>
        <span id="labelItem" class="font-weight-bold"></span> Risk 1 Title
        <div class="w-100 border-bottom-highlight"></div>
    </div>


    <div style="width:33.0%" class="d-inline-block">

        <div id="risk_details">
            <div id="risk_lineChart_1" class="responsive-plot" style="height: 355px;">
            </div>
        </div>
    </div>

    <div style="width:33.0%" class="d-inline-block">

        <div id="money_base">
            <div id="base_lineChart_1" class="responsive-plot" style="height: 355px;">
            </div>
        </div>

    </div>

    <div style="width:33.0%" class="d-inline-block">
        <div id="impact">
            <div id="impact_lineChart_1" class="responsive-plot" style="height: 355px;">
            </div>
        </div>
    </div>

</div>

<div id="d_risk2" style="padding:0 0 0 0">
    <div class="pl-md-4" style="font-size: 12pt">
        <div class="w-100 border-bottom-highlight"></div>
        <span id="labelItem" class="font-weight-bold;margin-top:25px"></span> Risk 2 Title
        <div class="w-100 border-bottom-highlight"></div>
    </div>

    <div style="width:33.0%" class="d-inline-block">

        <div id="risk_details_2">
            <div id="risk_lineChart_2" class="responsive-plot" style="height: 355px;">
            </div>
        </div>
    </div>

    <div style="width:33.0%" class="d-inline-block">

        <div id="money_base_2">
            <div id="base_lineChart_2" class="responsive-plot" style="height: 355px;">
            </div>
        </div>

    </div>

    <div style="width:33.0%" class="d-inline-block">
        <div id="impact_2">
            <div id="impact_lineChart_2" class="responsive-plot" style="height: 355px;">
            </div>
        </div>
    </div>

</div>





@section Scripts {
    <script src="~/lib/js/typeahead.bundle.js"></script>
    <script src="~/lib/js/plotly-basic.min.js"></script>
    <script type="text/javascript">
        $(function () {
            onLoadProductForecasting();
            $('#refreshButton').on('click', handleRefresh);

        });
    </script>
}


