@page
@model eShopDashboard.Pages.Reports.TimeSeriesModel
@{
    ViewData["Title"] = "Risk Series Forecast";
}

@if (Program.GetSeedingProgress() < 100)
{
    @await Html.PartialAsync("_Seeding.cshtml")
}

<div class="row d-md-inline">
    <div class="col-12 bg-highlight py-3 pl-md-4" style="color: white; font-size: 17pt; line-height: 1.25">
        @ViewData["Title"]
    </div>
</div>

<div style="padding:0 0 0 0">

    <div style="width:33.0%" class="d-inline-block">

        <div id="risk_details">
            <div class="pl-md-4" style="font-size: 12pt">
                <span id="labelItem" class="font-weight-bold"></span> - Probability Risk (Next 20 days)
            </div>
            <div class="w-100 border-bottom-highlight"></div>
            <div id="risk_lineChart" class="responsive-plot" style="height: 355px;">
            </div>
        </div>
    </div>

    <div style="width:33.0%" class="d-inline-block">

        <div id="money_base">
            <div class="pl-md-4" style="font-size: 12pt">
                <span id="labelItem" class="font-weight-bold"></span>  Monetary (Next 20 days)
            </div>
            <div class="w-100 border-bottom-highlight"></div>
            <div id="base_lineChart" class="responsive-plot" style="height: 355px;">
            </div>
        </div>

    </div>

    <div style="width:33.0%" class="d-inline-block">
        <div id="impact">
            <div class="pl-md-4" style="font-size: 12pt">
                <span id="labelItem" class="font-weight-bold"></span> - Impact (Next 20 days)
            </div>
            <div class="w-100 border-bottom-highlight"></div>
            <div id="impact_lineChart" class="responsive-plot" style="height: 355px;">
            </div>
        </div>
    </div>

</div>




@section Scripts {
    <script src="~/lib/js/typeahead.bundle.js"></script>
    <script src="~/lib/js/plotly-basic.min.js"></script>
    <script type="text/javascript">
        $(function () {
            onLoadProductForecasting();
        });
    </script>
}


